#general {
    margin:0px 20px;
    background-color: skyblue;
}

h1 {
    text-align: center;
    border: solid 5px #ff0000;
    font-size: 180%;
    padding : 30px 10px;
}

.lieu {
    color: #1d7027;
    text-align: center;
}

#lettre-a {
    color:rgba(255,0,255, 1);
}